<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     <div class="main-content">
        <h1>Help</h1>
    <p>{{helpText}}</p><br><br><br>
     </div>
    {{>header}}
    
    <p>Created by {{>footer}}</p>
</body>

</html>